header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header .menu {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 30px;
  background: url("../icons/Menu.svg") no-repeat center;
}

header img {
  padding: 15px;
}

.container {
  display: flex;
  align-items: center;
}

#menu-button {
  display: none;
}

.list-menu {
  position: absolute;
  top: 100%;
  display: none;
  width: 60vw;
}

#menu-button:checked ~ .list-menu {
  display: block;
}

.menu-title,
.menu-item {
  padding: 15px;
  background-color: white;
}

.menu-title {
  font-weight: 700;
  color: orange;
}

.link-list-menu {
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--blue-gradient);
}

.title {
  display: none;
}

.options-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  header .menu {
    display: none;
  }
  
  .title,
  .bold-title {
    font-family: var(--secondary-font);
    font-size: 1.9em;
  }

  .title {
    display: block;
    font-weight: 400;
  }

  .bold-title {
    font-weight: 700;
  }

  .options-list {
    display: flex;
  }

  .option {
    padding: 0 15px;
    text-transform: uppercase;
  }

  .option-link {
    text-decoration: none;
    color: black;
  }

  .transparent-img {
    display: none;
  }
}
