.topics {
  padding: 15px 0;
  text-align: center;
  background-image: var(--blue-gradient);
}

.topics-title {
  margin-bottom: 15px;
  font-weight: 300;
  color: white;
}

.topics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics-item {
  margin: 35px 8px;
}

.topics-link {
  padding: 15px;
  font-size: .9em;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: orange;
}

@media screen and (min-width: 1024px) {
  .topics-title {
    font-size: 24px;
  }

  .topics-link {
    font-size: 24px;
  }
}
